body {
  background: #242424;
  margin: 0;
  min-width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: hidden;
}

#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  margin-right: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: 600;
  display: flex;
  margin-bottom: 5px;
  color: #ffffff;
}

input {
  padding-left: 10px;
  background-color: #ffffff;
  outline: none;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 30px;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
  color: #ffffff;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 12em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
}

p {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 20px;
}
